<body>
    <main class="habitacion-1">

        <section class="habitacion-1-main">
            <div>
                <h1>Cajas registradoras</h1>
                <h2>¡Buzz se encuentra en problemas! Debes encontrar una llave para salir de las cajas registradoras</h2>
                <p>Buzz Lightyear está en una misión importante dentro de la tienda de juguetes. Necesita encontrar el código de una caja registradora para conseguir una moneda especial que le permitirá avanzar al siguiente nivel. Ayuda a Buzz a resolver este acertijo para abrir la caja registradora.</p>
            </div>

            <div>
                <h2>Ventas realizadas</h2>
                <div>
                    <p>$12</p>
                    <p>$15</p>
                    <p>$20</p>
                    <p>$8</p>
                    <p>$5</p>
                </div>
            </div>

            <div>
                <h2>Pistas para el código</h2>
                <div>
                    <p>Primer dígito: El número total de ventas realizadas.</p>
                    <p>Segundo dígito: La suma de las dos ventas más bajas.</p>
                    <p>Tercer dígito: La suma de las dos ventas más altas.</p>
                    <p>Cuarto dígito: La diferencia entre la venta más alta y la venta más baja.</p>
                </div>
                <div>
                    <p>¿Podrás ayudar a Buzz a encontrar el código de cuatro dígitos para abrir la caja registradora y obtener la moneda especial?</p>
                </div>
            </div>
        </section>
    </main>
</body>