<h1>Cajas registradores</h1>   
<h2>¡Buzz se encuentra en problemas! Debes encontrar una llave para salir de las cajas registradoras</h2>
<p>

Buzz Lightyear está en una misión importante dentro de la tienda de juguetes. Necesita encontrar el código de una caja registradora para conseguir una moneda especial que le 
permitirá avanzar al siguiente nivel. Ayuda a Buzz a resolver este acertijo para abrir la caja registradora.
</p>

<p>
En la tienda se han realizado las siguientes ventas:
</p>

<p>
$12
$15
$20
$8
$5
</p>

<p>
El código de la caja registradora está determinado por las siguientes pistas:
</p>

<p>
Primer dígito: El número total de ventas realizadas.
</p>

<p>
Segundo dígito: La suma de las dos ventas más bajas.
</p>

<p>
Tercer dígito: La suma de las dos ventas más altas.
</p>

<p>
Cuarto dígito: La diferencia entre la venta más alta y la venta más baja.
</p>

<p>
¿Podrás ayudar a Buzz a encontrar el código de cuatro dígitos para abrir la caja registradora y obtener la moneda especial?
</p>

<form action='@Url.Action()'>