@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tienes que ayudar a Buzz a escapar!</h1>
</div>
<a href='@Url.Action("Tutorial","Home")'>Tutorial</a>
<a href='@Url.Action("Creditos","Home")'>Creditos</a>
<a href='@Url.Action("Comenzar","Home")'>Que comienze el juego!   </a>




